<div class="container-fluid footer">
	<div class="col-lg-6">				
		<ul class="navbar-nav">
			<li class="mynav"><a href="#">2012 DE. ALL Rights Reserved</a></li>
		</ul>			
	</div>
	<div class="col-lg-6">
	      <ul class="navbar-nav navbar-right">
	        <li class="active mynav"><a href="#">FAQ</a></li>
	        <li class="mynav"><a href="#">About Us</a></li>
	        <li class="mynav"><a href="#">Terms of Use</a></li>
	        <li class="mynav"><a href="#">Contact Us</a></li>
	        <li class="mynav"><a href="#">Privacy Policy</a></li>
	        <li class="social"><a href="#"><img src="{{ asset('images/twitter.png') }}" alt="twitter" /></a></li>
	        <li class="social"><a href="#"><img src="{{ asset('images/facebook.png') }}" alt="twitter" /></a></li>
	      </ul>
		
	</div>
</div>