<!--modal for login-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title login-header" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
      	<div class="input-group v-form-element">
        	<p class="grey_text">Please login to continue using the application.</p>
        </div>
      	<!--form components starts here-->
        <div class="input-group v-form-element">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
            <input type="text" class="form-control v-textbox" placeholder="Username">
        </div>
        <div class="input-group v-form-element">
            <span class="input-group-addon glyphicon glyphicon-info-sign"></span>
            <input type="password" class="form-control v-textbox" placeholder="Password">
        </div>
        <!--form component ends here-->
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default btn-black" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-default btn-black">LOGIN</button>
      </div>
    </div>
  </div>
</div>
<!--modal for login ends here-->
<!--modal for sign up box-->
<div class="modal fade" id="mySignUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title login-header" id="mySignUpLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
      	<div class="input-group v-form-element">
        	<p class="grey_text">Please sign up to explore the wide range of management tools we provide.</p>
        </div>
      	<!--form components starts here-->
        <div class="input-group v-form-element">
            <span class="input-group-addon glyphicon glyphicon-envelope"></span>
            <input type="text" class="form-control v-textbox" placeholder="Email">
        </div>
        <div class="input-group v-form-element">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
            <input type="text" class="form-control v-textbox" placeholder="Username">
        </div>
        <div class="input-group v-form-element">
            <span class="input-group-addon glyphicon glyphicon-info-sign"></span>
            <input type="password" class="form-control v-textbox" placeholder="Password">
        </div>
        <div class="input-group v-form-element">
            <span class="input-group-addon glyphicon glyphicon-info-sign"></span>
            <input type="password" class="form-control v-textbox" placeholder="Confirm Password">
        </div>
        <!--form component ends here-->
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default btn-black" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-default btn-black">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<!--modal for sign up box ends here-->
<!--modal for take a tour box-->
    <div class="modal fade bs-example-modal-lg" id="videoBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title login-header" id="mySignUpLabel">Take a tour.</h4>
          </div>
          <div class="modal-body">
          	<!--form components starts here-->
            <div class="video_container">
                <div class="video_box">
                	<iframe width="100%" height="100%" src="//www.youtube.com/embed/VRuoR--LdqQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <!--form component ends here-->
          </div>
        </div>
      </div>
    </div>
<!--modal for take a tour box ends here-->
<div class="container-fluid main-container">
	<nav class="navbar navbar-default mynav navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#"><img src="http://www.placehold.it/300X50&text=YourLogo" class="img-responsive" alt="your logo"> </a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse v_navbar" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="{% if page == 'Home' %}active{% endif %} mynav"><a href="index">Home</a></li>
	        <li class="{% if page == 'FAQ' %}active{% endif %} mynav"><a href="faq">FAQ</a></li>
	        <li class="mynav"><a href="#">Pricing</a></li>
	        <li class="{% if page == 'About' %}active{% endif %} mynav"><a href="about">About</a></li>
	        <li class="mynav"><button class="btn btn-success enroll-button" data-toggle="modal" data-target="#mySignUp">Sign Up</button></li>
	        <li class="mynav"><button class="btn btn-success enroll-button" data-toggle="modal" data-target="#myModal">Login</button></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>