{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{{ page }}{% endblock %}

{% block body %}
	
	{% include 'MainHomeBundle::public/header.html.twig' %}
        		
	<!-- body starts here -->
    <div class="container-fluid faq_info_outline">
    	<div class="col-md-8">
        	<h3>Find Answers</h3>
            <form action="#" class="form-inline faq_answer_form" role="form">
            	<input type="text" class="form-control faq_answer_search">
                <input type="button" class="btn btn-info" value="Search">
            </form>
            <div class="faq_qusetions_outline">
            	<div class="accordion-group faq_qusetions_part">
                	<h5 class="accordion-heading faq_qusetions_text">
                    	1. <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Lorem Ipsum is simply dummy text?</a>
                    </h5>
                    <p class="faq_qusetions_para">Lorem | March 01, 2014</p>
                    
                    <div id="collapseOne" class="accordion-body collapse">
                    	<p class="faq_answer_outline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="accordion-group faq_qusetions_part">
                	<h5 class="accordion-heading faq_qusetions_text">
                    	2. <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Lorem Ipsum is simply dummy text?</a>
                    </h5>
                    <p class="faq_qusetions_para">Lorem | March 01, 2014</p>
                    
                    <div id="collapseTwo" class="accordion-body collapse">
                    	<p class="faq_answer_outline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="accordion-group faq_qusetions_part">
                	<h5 class="accordion-heading faq_qusetions_text">
                    	3. <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Lorem Ipsum is simply dummy text?</a>
                    </h5>
                    <p class="faq_qusetions_para">Lorem | March 01, 2014</p>
                    
                    <div id="collapseThree" class="accordion-body collapse">
                    	<p class="faq_answer_outline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="accordion-group faq_qusetions_part">
                	<h5 class="accordion-heading faq_qusetions_text">
                    	4. <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Lorem Ipsum is simply dummy text?</a>
                    </h5>
                    <p class="faq_qusetions_para">Lorem | March 01, 2014</p>
                    
                    <div id="collapseFour" class="accordion-body collapse">
                    	<p class="faq_answer_outline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="accordion-group faq_qusetions_part">
                	<h5 class="accordion-heading faq_qusetions_text">
                    	5. <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">Lorem Ipsum is simply dummy text?</a>
                    </h5>
                    <p class="faq_qusetions_para">Lorem | March 01, 2014</p>
                    
                    <div id="collapseFive" class="accordion-body collapse">
                    	<p class="faq_answer_outline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="accordion-group faq_qusetions_part">
                	<h5 class="accordion-heading faq_qusetions_text">
                    	6. <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">Lorem Ipsum is simply dummy text?</a>
                    </h5>
                    <p class="faq_qusetions_para">Lorem | March 01, 2014</p>
                    
                    <div id="collapseSix" class="accordion-body collapse">
                    	<p class="faq_answer_outline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="accordion-group faq_qusetions_part">
                	<h5 class="accordion-heading faq_qusetions_text">
                    	7. <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">Lorem Ipsum is simply dummy text?</a>
                    </h5>
                    <p class="faq_qusetions_para">Lorem | March 01, 2014</p>
                    
                    <div id="collapseSeven" class="accordion-body collapse">
                    	<p class="faq_answer_outline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="accordion-group faq_qusetions_part">
                	<h5 class="accordion-heading faq_qusetions_text">
                    	8. <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">Lorem Ipsum is simply dummy text?</a>
                    </h5>
                    <p class="faq_qusetions_para">Lorem | March 01, 2014</p>
                    
                    <div id="collapseEight" class="accordion-body collapse">
                    	<p class="faq_answer_outline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="accordion-group faq_qusetions_part">
                	<h5 class="accordion-heading faq_qusetions_text">
                    	9. <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">Lorem Ipsum is simply dummy text?</a>
                    </h5>
                    <p class="faq_qusetions_para">Lorem | March 01, 2014</p>
                    
                    <div id="collapseNine" class="accordion-body collapse">
                    	<p class="faq_answer_outline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="accordion-group faq_qusetions_part">
                	<h5 class="accordion-heading faq_qusetions_text">
                    	10. <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">Lorem Ipsum is simply dummy text?</a>
                    </h5>
                    <p class="faq_qusetions_para">Lorem | March 01, 2014</p>
                    
                    <div id="collapseTen" class="accordion-body collapse">
                    	<p class="faq_answer_outline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-4">
        	
        </div>
    </div>
    <!-- body ends here -->
    
    {% include 'MainHomeBundle::public/footer.html.twig' %}
    
	</div>
	<!-- main container ends here -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		// Yep, that's it!
		$('#scene').parallax();
	</script>
{% endblock %}